extends layout

block content
  h1 Support Categories

  if error
    p.error #{error}
  else if categories && categories.length
    .category-grid
      each category in categories
        .category-card
          h2 #{category.CategoryName}
          p #{category.Description}
          a.btn(href="/supportrequests?category=" + category.CategoryID) View Support Requests
  else
    p No categories available.