extends layout

block content
  h1 Categories
  if error
    p.error #{error}
  else if categories && categories.length
    table(border="1")
      thead
        tr
          th CategoryID
          th CategoryName
          th Description
      tbody
        each category in categories
          tr
            td #{category.CategoryID}
            td #{category.CategoryName}
            td #{category.Description}
  else
    p No categories available.
