extends layout

block content
  .form-card
    h1 Edit Profile
    form(method="POST", action="/profile/edit")
      .form-group
        label(for="email") Email
        input(type="email", name="email", value=profileUser.Email, required)
      .form-group
        label(for="universityId") University ID
        input(type="text", name="universityId", value=profileUser.UniversityID)
      button.btn(type="submit") Save Changes
      a.back-link(href="/profile") Cancel
