doctype html
html
  head
    title My Application
    link(rel="stylesheet", href="/styles.css")
  body
    nav
      a(href="/") Home |
      a(href="/users") Users |
      a(href="/categories") Categories |
      a(href="/supportrequests") Support Requests |
    block content
