doctype html
html
  head
  link(rel="stylesheet", href="/style.css")
    title My Application
  body
    nav
      a(href="/") Home | 
      a(href="/users") Users | 
      a(href="/supportrequests") Support Requests | 
      a(href="/categories") Categories | 
    block content