extends layout

block content
  h1 Submit a New Support Request

  if error
    p.error #{error}

  form(method="POST", action="/supportrequests")
    input(type="text", name="title", placeholder="Title" required)
    textarea(name="description", placeholder="Describe your issue..." required)

    select(name="categoryId" required)
      option(value="" disabled selected) -- Select a category --
      each category in categories
        option(value=category.CategoryID)= category.CategoryName

    button(type="submit") Post Request