doctype html
html
  head
    title Register
  body
    if error
      p(style="color: red")= error
    if success
      p(style="color: green")= success
    form(action="/register" method="POST")
      input(type="text" name="username" placeholder="Username" required)
      input(type="email" name="email" placeholder="Email" required)
      input(type="text" name="universityId" placeholder="University ID" required)
      input(type="password" name="password" placeholder="Password" required)
      button(type="submit") Register