extends layout

block content
  if pageTitle
    h1 #{pageTitle}
  else
    h1 Support Requests

  if filterUserName
    img.profile-img(src="/images/" + filterUserPic, alt=filterUserName)

  if filterUserName || pageTitle.includes("in")
    a.back-link(href="/supportrequests") ← Back to All Support Requests